body{
    background: rgba(255,255,255, 0.4) url('../img/drug.png');
    background-size: cover;    
}

.glass{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
}

footer {
    text-align: center;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-brand {
    margin-left: 5px !important;
}

.navbar-nav {
    padding-left: 10px;
}

.invalid-feedback {
    color: #dc3545; /* Red for error messages */
    font-size: 0.875em;
    display: inline; /* Makes the error inline */
    margin-left: 10px; /* Adjust spacing */
    vertical-align: middle; /* Align with input field */
}