{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Healthcare{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Health Care</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}        
                        <li class="nav-item"><a class="nav-link" href="{% url 'upload_data' %}">Upload Data</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cnn' %}">Generate CNN</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'predict' %}">Predict</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'medication' %}">Medication</a></li>
                    {% endif %}

                        <li class="nav-item">
                            Welcome, {{ user.username }}
                            <form method="post" action="{% url 'logout' %}" > <!--style="display: inline;"-->
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-link" style="padding: 0;">Sign out</button>
                            </form>
                        </li>
                {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
    {% block content %}
    {% endblock %}
    <footer class="mt-5">
        <p>&copy; 2025 MyApp. All rights reserved.</p>
        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
    </footer>
    </div>
</body>
</html>