<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="healthcare/myapp/static/myapp/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 glass mt-5">
                    <h2>Predict</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="input_data" placeholder="Enter data for prediction" class="form-control mb-2">
                        <button type="submit" class="btn btn-primary">Predict</button>
                        <p>Predicted sentiment: <span id="sentiment"></span></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>