{% extends 'header.html' %}
{% block title %}Register{% endblock %}
{% block content %}
            <div class="row justify-content-center mx-auto">
                <div class="col-md-6 text-center glass mt-3">
                    <h2>Register</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {{ form.as_div|safe }} -->
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field }}
                            </div>
                        {% endfor %}    
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <a href="{% url 'signin' %}" >Already have an account?</a>
                </div>
            </div>
{% endblock %}