{% extends 'header.html' %}
{% block title %}Upload Data{% endblock %}
{% block content %}
            <div class="row justify-content-center">
                <div class="col-md-6 glass mt-5">
                    <h2> Upload Data </h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file" class="form-control mb-2">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
{% endblock %}